<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat WebApp</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <!-- ! Determine the Navigation Pannel -->
    <nav>
        <div id="iconText">
            <p>Web Chatting App</p>
        </div>
        <div id="navElements">
            <ul>
                <li><a href="./home" style="color: white; text-decoration: none">Home</a></li>
                <li> <a href="https://github.com/dev-chouhan" target="_blank"> Contact Developer</a></li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">About Application</button>
                        <div class="dropdown-content">
                            <a href="./aboutApplication" target="_blank">How Application works??</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- ! Determine the body -->
    <section>
        <main>
            <div id="mainContainer">
                <div class="date">
                    <p><%= permaTodaysDate %></p>
                </div>
                <div class="message ">
                    <div class="titleName ">Dev Chouhan<small><%=userSignInTime%></small> </div>
                    <p class="titleContent">"Hello! <b class="capitalize"><%=signedUserName%></b>. Welcome to my Online Web Chatting Application, for using this Web App you need to follow some rules. So, plz checkOut About application tag in Header before proceeding. Scroll Down for viewing latest messages. "</p>
                </div>
                <%  posts.forEach(function(post){ %>
                    <% if(permaTodaysDate != post.date){ %>
                        <div class="date">
                            <p><%=post.date%></p>
                        </div>
                        <% permaTodaysDate = post.date %>
                    <% } %>
                    <div class="message-wrapper">
                        <div class="message <%= signedUserName == post.name ? 'message-right' : '' %>">
                            <div class="titleName "><%=post.name%><small><%=post.time%></small> </div>
                            <p class="titleContent"><%=post.message%></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </main>
        <a href="./replyMsg"><button>Reply</button></a>
    </section>


    <%- include ('partials/footer.ejs') %>